# Core Logic & Utilities
pydantic<3.0
python-dotenv
schedule
colorama
httpx

# LangGraph Core System
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-experimental
langchain-google-genai

# Telegram Controller
python-telegram-bot

# Database & Async DB
aiosqlite