# Core Logic & Utilities
pydantic<3.0
python-dotenv
schedule

# LangGraph Core System
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-experimental
tenacity>=8.2.0

# Hero Products & Testing
edge-tts
moviepy
playwright
pyarmor
