# Airdrop Guerrilla Bot - Environment Configuration

# 1. Telegram Bot (Để nhận thông báo)
TELE_TOKEN=
CHAT_ID=

# 2. Ví cày Airdrop
WALLET_PRIVATE_KEY=

# 3. Proxies (Tùy chọn)
HTTP_PROXY=
HTTPS_PROXY=
